@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.appointmentcomponent{
    font-family: 'Open Sans', sans-serif;
    margin-top: 2rem;
    display: flex;
}

.theform{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.features{
    font-size: 1.3rem;
    font-weight: 700 !important;
    width: 50%;
}

.f1{
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: auto;
}

.relatedtext{
    text-align: left !important;
    display: flex;
    align-items: center;
    width: 50%;
}


.appointment{
    position: relative;
    width: 50%;
}



.formoutline{
    background: linear-gradient(0deg, #000000, #000000);
    color: #ffffff;
    width: 50%;
    border-radius: 10px;
    position: absolute;
    height: 29rem;
    right: 7rem;
    bottom: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (max-width: 1200px){
    .formoutline{
        /* position: relative; */
        width: 70%;
        /* margin: auto; */
        left: 7rem;
    }

}

@media screen and (max-width: 1000px){
    .appointmentcomponent{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .formoutline{
        position: relative;
    }

    .appointmentcomponent > div {
        width: 100%;
    }

    .appointment{
        /* border: 2px solid magenta; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

     .formoutline{ 
        left: auto;
        right: auto;
        width: 50%;
    } 
}

@media screen and (max-width: 770px){
    .formoutline{
        width: 80%;
    }
}

.formoutline > div{
    width: 90%;
    margin: 0 auto;
}

.appointmentSchedule{
    font-size: 2rem;
}

.visitorText{
    font-size: small;
}

.actualForm{
    width: 100%;
    height: 80%;
}

.actualForm > form {
    text-decoration: none;
    border: none;
    margin: 2rem 0;
}

.theform > input{
    margin: 0.4rem 0 0 0;
    border-radius: 5px;
}

.theform > select{
    margin: 0.4rem 0;
    border-radius: 5px;
}

.submitButton:hover{
    background-color: burlywood;
    color: white;
    transition: background-color 0.2s ease-in-out;
}

@media screen and (max-width: 280px){
    .features{
        padding: 0;
        margin-bottom: 2rem;
    }

    .features > div{
        margin-left: 0;
        width: 100%;
    }

    .formoutline{
        width: 100%;
    }
}